@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>


    @*/*****            framework bxSlider para sliders                     ******/*@
    <link rel="stylesheet" href="~/js-frameworks/bxSlider/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/js-frameworks/bxSlider/jquery.bxslider.js"></script>

    @*/*************************************************************************/*@


    @*---------------enlazo misEstilos.css---------------------------*@
    @Styles.Render("~/Content/misEstilos.css")
    @*---------------------------------------------------------------*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <div class="cont-slider">

        <ul class="mySlider">

            <li><img src="~/principal/imagenes/slider-img3.jpg" title="Img1"></li>
            <li><img src="~/principal/imagenes/slider-img3.jpg" title="Img2"></li>
            <li><img src="~/principal/imagenes/slider-img3.jpg" title="Img3"></li>

        </ul>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-index">
       
    </div>

    <div class="container">
        <h2 style="color: red">@ViewBag.Msg</h2>


        @using (Html.BeginForm("index", "Usser", FormMethod.Post))
        {

            <div id="caja">

                <div id="cont-img">
                    <img id="img-logo" src="~/principal/imagenes/bookLogo.png" alt="logo">
                </div>
                <h3>INICIAR SESIÓN</h3>

                <div id="form-login">

                    <div id="cont-inputs">
                        <input type="text" id="user" name="user" placeholder="Usuario" required>
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    </div>

                    <div id="wash">
                        ¿Olvidaste tu contraseña?
                    </div>

                    <div id="cont-btns">
                        <button type="submit" id="btn-entrar">ENTRAR</button>
                        @*<button type="button" id="btn-registrar">REGISTRARSE</button>*@
                        <button type="button" onclick="" id="btn-registrar">@Html.ActionLink("REGISTRARSE", "CrearUsuario", "Usser")</button>
                    </div>

                </div>

            </div>

        }

    </div>


    <hr />
    <footer class="container">
        <center><p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p></center>
    </footer>



    <script type="text/javascript">

        $(document).ready(function () {

            $('.mySlider').bxSlider({

                //mode: 'fade',
                auto: true,
                captions: true,
                //autoControls: true

            });

        });

    </script>


</body>
</html>
