@*@using Librery_MVC.Models*@
@model List<Librery_MVC.Models.LightBook>
@using Librery_MVC.Models;
@using Librery_MVC.Services;
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_UsserLayout.cshtml";

    Autor autor = new Autor();
    Categoria category = new Categoria();
    Editorial editorial = new Editorial();
    AutorService sa = new AutorService();
    CategoriaService cs = new CategoriaService();
    EditorialService es = new EditorialService();
    List<Autor> autorList = new List<Autor>();
    List<Categoria> categoryList = new List<Categoria>();
    autorList = sa.ListAutores();
    categoryList = cs.getAllCategories();
    TempData.Keep("User");

}

<div class="container">
    <h2>Página principal</h2>
    Bienvenido @ViewBag.User
</div>


<div class="row" id="row1">

    <div class="panel-body" id="filtro-panel-body">

        <div class="col-md-4 text-center">
            <label>Nombre de libro</label>
            <input type="text" class="form-control" id="nombreLibro" maxlength="80" placeholder="Ingrese nombre del libro" />
        </div>

        <div class="col-md-3 text-center">
            <label>Autor</label>
            <select name="ddlAutor" class="form-control inputFiltros" id="ddlAutor" onmousedown="if(this.options.length>5){this.size=5;}" onchange='this.size=0;' onblur="this.size=0;">

                @if (!String.IsNullOrEmpty(ViewBag.Autor))
                {
                    //para que no me quede el nombre del autor duplicado en el dropDownList de autores
                    for (int i = 0; i < autorList.Count; i++)
                    {
                        if (autorList[i].IdAutor.Equals(ViewBag.IdAut))
                        {
                            autorList.RemoveAt(i);
                            i--;
                        }
                    }

                    <option value=@ViewBag.IdAut>@ViewBag.Autor</option>
                    <option value="todos">Todos</option>
                    foreach (Autor item in autorList)
                    {
                        <option value=@item.IdAutor>@item.Nombre</option>
                    }

                }
                else
                {
                    <option value="todos">Todos</option>
                    foreach (Autor item in autorList)
                    {
                        <option value=@item.IdAutor>@item.Nombre</option>
                    }
                }


            </select>
        </div>

        <div class="col-md-3 text-center">
            <label>Categoria</label>
            <select name="ddlCategory" class="form-control inputFiltros" id="ddlCategory" onmousedown="if(this.options.length>5){this.size=5;}" onchange='this.size=0;' onblur="this.size=0;">

                @if (!String.IsNullOrEmpty(ViewBag.Categoria))
                {
                    //para que no me quede el nombre de la categoria duplicado en el dropDownList de categoria
                    for (int x = 0; x < categoryList.Count; x++)
                    {
                        if (categoryList[x].IdCategoria.Equals(ViewBag.IdCat))
                        {
                            categoryList.RemoveAt(x);
                            x--;
                        }
                    }

                    <option value=@ViewBag.IdCat>@ViewBag.Categoria</option>
                    <option value="todos">Todos</option>
                    foreach (Categoria item in categoryList)
                    {
                        <option value=@item.IdCategoria>@item.Nombre</option>
                    }

                }
                else
                {
                    <option value="todos">Todos</option>
                    foreach (Categoria item in categoryList)
                    {
                        <option value=@item.IdCategoria>@item.Nombre</option>
                    }
                }


            </select>
        </div>

        <div class="col-md-1 col-xs-4">
            <label>Desde: $</label>
            <input type="number" class="form-control" id="price1" />
        </div>

        <div class="col-md-1 col-xs-4">
            <label>Hasta: $</label>
            <input type="number" class="form-control" id="price2" />
        </div>

    </div>

    <div id="cont-btn_buscar">
        <button class="btn btn-default" id="btn_buscar" type="button" onclick="filtrar();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
    </div>

</div>

<div class="row" id="cont-libros">
    @*div que muestra la lista de libros*@
</div>

<div id="pagination-buttons">
    @*div que muestra los botones del pagination sin hacer filtros*@
</div>

<script type="text/javascript">

    alert('ahhh')

    //Obtengo la lista original de todos los libros de la db)
    var originalList = @Html.Raw(Json.Encode(Model));
    //Cuento el total de libros que hay en la db
    var totalBooks = originalList.length;
    //cantidad de items que se van a mostrar por pagina
    var booksxPage = 20;
    //id del div donde quiero mostrar el pagination
    var idDiv = '#cont-libros';  
    Pagination(originalList, booksxPage, 1, idDiv);
    buttonsPagination(totalBooks, booksxPage, '#pagination-buttons')
      
    function sendToActionMostrarLibro(id) {

        var url = "@Url.Action("MostrarLibro", "Usser", new { idLibro="param-id"})";
        url = url.replace("param-id", id)
        window.location.assign(url);

    }

    function filtrar() {

    var uri = '@Url.Action("userFilterLightBooks", "Usser")';
    var nombre = $('#nombreLibro').val();
    var autor = $('#ddlAutor').val();
    var categoria = $('#ddlCategory').val();

    var price1 = $('#price1').val();
    var price2 = $('#price2').val();

    var filtros = new Array();
    filtros.push(nombre);
    filtros.push(autor);
    filtros.push(categoria);
    filtros.push(price1);
    filtros.push(price2);

    $.ajax({
        url: uri,
        data: { data: filtros },
        type: 'POST',
        success: function (respuestaDelServidor) {

            //desaparece el div de pagination-buttons
            document.getElementById('pagination-buttons').style.display = 'none';
         
            $("#cont-libros").html(respuestaDelServidor);

        }
    });

}


</script>


<script type="text/javascript">

    //window.addEventListener("load", Paginar(), false);
    //window.addEventListener("load", Paginar(1), false);

</script>






