@using Librery_MVC.Models;
@using Librery_MVC.Services;

@{
    ViewBag.Title = "MisCompras";
    Layout = "~/Views/Shared/_UsserLayout.cshtml";
    DateTime actualDate = DateTime.Today;
    int actualYear = actualDate.Year;
    LibroService ls = new LibroService();
    TempData.Keep("User");

}


<h2>Mis Compras</h2>

@if (TempData["User"] == null)
{
    <span style="color: red">Debe esta logeado para realizar esta acción.</span>
}
else
{
    <div class="row">

        @Html.Partial("_AjaxLoaderPartial")

        <div class="panel-body" id="panel-body-select">

            <div class="form-group col-sm-4 selectores">

                <select class="form-control" id="selectMonth1">
                    <option disabled selected>Desde el mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

            </div>

            <div class="form-group col-sm-4 selectores">
                <select class="form-control" id="selectMonth2">
                    <option disabled selected>Hasta el mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

            </div>

            <div class="form-group col-sm-4 selectores">

                <select class="form-control" id="selectYear">
                    <option disabled selected>Año</option>
                    @*i=2015 porque la empresa abrió en el 2015*@
                    @for (int i = 2015; i <= actualYear; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

            </div>

        </div>

        <div class="text-center" id="cont-btn_buscar">
            <button class="btn btn-default" id="btn_buscar" type="button" onclick="sendToActionFiltrarCompras();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
            <button class="btn btn-warning" id="btn_allPurchases" type="button" onclick="sendAllpurchases();"><span class="glyphicon glyphicon-shopping-cart" id="glyphicon-shopping-cart" aria-hidden="true"></span>Todas mis compras</button>
        </div>

    </div>

    <div id="div-respuesta-ajax">

        <table cellspacing="0" class="table table-striped table-primary mt-5 table-bordered">

            <thead>
                <tr>
                    <th class="text-center">Fecha</th>
                    <th>Libro</th>
                    <th class="text-center">P/unidad</th>
                    <th class="text-center">Cantidad</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <th colspan="4"> 0 resultados</th>
                </tr>

            </tbody>

        </table>

    </div>

}


<script>

    //.loading-screen es la clase del div que esta en la vista partial _AjaxLoaderPartial (carpeta shred)
    var screen = $('.loading-screen');
    
    function configureLoadingScreen(screen) {
        $(document)
            .ajaxStart(function () {
                screen.fadeIn();
            })
            .ajaxStop(function () {
                screen.fadeOut();
            });
    }

    function sendAllpurchases() {

        configureLoadingScreen(screen);

        //Al pulsar el boton, le escribo los valores en el input

        $("#selectMonth1").val('Desde el mes');
        $("#selectMonth2").val('Hasta el mes');
        $("#selectYear").val('Año');

        var uri = '@Url.Action("FiltrarCompras", "Usser")';

        $.ajax({
            url: uri,
            data: { listAll: "si" },
            type: 'POST',
            success: function (respuestaDelServidor) {
                $("#div-respuesta-ajax").html(respuestaDelServidor);
            }
        });

    }

    function sendToActionFiltrarCompras(){

        configureLoadingScreen(screen);

        var selected_month1 = $("#selectMonth1").val();
        var selected_month2 = $("#selectMonth2").val();
        var selected_year = $("#selectYear").val();

        if (selected_month1 == null || selected_month2 == null || selected_year == null) {

            alertify.alert("Debe elegir un rango de meses y el año.").set('label', 'Aceptar');
        }
        else {

              var uri = '@Url.Action("FiltrarCompras", "Usser")';
              $.ajax({
                   url: uri,
                   data: { month1: selected_month1, month2: selected_month2, year: selected_year },
                   type: 'POST',
                   success: function (respuestaDelServidor) {
                   $("#div-respuesta-ajax").html(respuestaDelServidor);
                   }
              });

        }


    }

</script>




