@model List<Librery_MVC.Models.LightBook>
@using Librery_MVC.Models;
@using Librery_MVC.Services;

@{
    Layout = null;
    TempData.Keep("filterBooks");
    TempData.Keep("totalPages");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @if (Model.Count() == 1)
    {
        foreach (LightBook item in Model)
        {
            //si muestra un solo item en la view, hago col-md-12 en la imagen 
            <div class="col-md-12 container-image text-center">

                <img src="~/@item.UrlImagen" alt="@item.Nombre">

                <div class="title-book text-center">

                    <a href="@Url.Action("MostrarLibro", "Usser", new { idLibro = item.IdLibro})">
                        @item.Nombre (@item.AnioDeLanzamiento)
                    </a>

                </div>

                <div class="price-book text-center">$@item.Precio</div>

            </div>

        }
    }
    else
    {
        foreach (LightBook item in Model)
        {
            <div class="col-md-3 container-image text-center fade-in">

                <img src="~/@item.UrlImagen" alt="@item.Nombre">

                <div class="title-book text-center">

                    <a href="@Url.Action("MostrarLibro", "Usser", new { idLibro = item.IdLibro})">
                        @item.Nombre (@item.AnioDeLanzamiento)
                    </a>

                </div>

                <div class="price-book text-center">$@item.Precio</div>

            </div>

        }
    }

    
</body>
</html>
