<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @*---------------enlazo mis funciones de js---------------------------*@
    <script type="text/javascript" src="~/js/funciones.js"></script>

    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @*---------------enlazo misEstilos.css---------------------------*@
    @Styles.Render("~/Content/misEstilosAdmin.css")

    @*---------------------------------------------------------------*@

    @*------------------Loader para consultas AJAX---------------------------------------*@
    @Styles.Render("~/js/loader/jquery-3.2.1.js")
    @Styles.Render("~/js/loader/styles.css")
    @*---------------------------------------------------------------------*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="fondo-Admin">

    @{
        TempData.Keep("adminEmail");
    }

    <div class="navbar navbar-inverse navbar-fixed-top" id="admin-nav-fixedTop">

        <div class="cont-principal">

            <nav id="navigation" class="navbar navbar-inverse">

                <div class="container-fluid">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand" id="brand" href="/Home/adminPrincipal">LibraryMVC</a>

                    </div>

                    <div class="collapse navbar-collapse fade-in" id="myNavbar">
                        
                        <ul class="nav navbar-nav">

                            <li><a href="@Url.Action("index", "Home")"><span class="glyphicon glyphicon-log-in" id="glyphicon-log-in" aria-hidden="true"></span>Login</a></li>
                            <li><a href="@Url.Action("index", "Usser")"><span class="glyphicon glyphicon-globe" id="glyphicon-globe" aria-hidden="true"></span>Sitio cliente</a></li>
                            <li><a href="@Url.Action("crearAdmin", "Home")">Registrarse</a></li>
                            @*<li><a href="@Url.Action("Contact", "Home")">Contacto</a></li>*@
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span>Libros<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Seccion libros", "Libros", "Home")</li>
                                    <li>@Html.ActionLink("Agregar libro", "InsertarLibro", "Home")</li>
                                </ul>
                            </li>
                        </ul>
                    
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" id="glyphicon-user"></span>@TempData["adminEmail"]<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="dropdown-menu">
                                    <li><a href="@Url.Action("index", "Home")"><span class="glyphicon glyphicon-off" id="glyphicon-wrench" aria-hidden="true"></span>Cerrar sesión</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
