
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>crearAdmin</title>
    @*---------------enlazo misEstilos.css---------------------------*@
    @Styles.Render("~/Content/misEstilosAdmin.css")
    @*---------------------------------------------------------------*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-indexAdmin">
        <div class="container">
            <div class="navbar-header" id="navbar-header">
                <span class="navbar-brand">Modo administrador</span>
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("index", "Home")">Login</a></li>
                    <li><a href="@Url.Action("index", "Usser")"><span class="glyphicon glyphicon-globe" id="glyphicon-globe" aria-hidden="true"></span>Sitio cliente</a>
                </ul>
            </div>
        </div>
    </div>

    <h2 class="text-center">Crear administrador</h2>

    @if (ViewBag.Msg != null)
    {
        <h4 class="text-center" style="color:red">@ViewBag.Msg</h4>
    }

    @using (Html.BeginForm("RegistrarAdmin", "Home", FormMethod.Post, new { name = "formAdmin", onsubmit = "return checkAdminData();" }))
    {
        @Html.AntiForgeryToken()

        <div id="cont-formulario-admin">

            <div class="form-group">
                <label for="lblEmail">Email:</label>
                <input type="email" class="form-control" id="txtEmail" name="txtEmail" onblur="removeClass(this);" maxlength="45" placeholder="Email" required>
            </div>

            <div class="form-group">
                <label for="lblName">Nombre:</label>
                <input type="text" class="form-control a" id="txtName" name="txtName" maxlength="45" onblur="removeClass(this)" ; placeholder="Nombre" required>
            </div>

            <div class="form-group">
                <label for="lblApe">Apellido:</label>
                <input type="text" class="form-control" id="txtSurname" name="txtSurname" maxlength="45" onblur="removeClass(this)" ; placeholder="Apellido" required>
            </div>

            <div class="form-group">
                <label for="lblPwd">Contraseña:</label>
                <input type="password" class="form-control" name="txtClave1" id="clave1" maxlength="45" onblur="removeClass(this)" ; placeholder="Contraseña" required>
            </div>

            <div class="form-group">
                <label for="lblPwd">Repita la contraseña:</label>
                <input type="password" class="form-control" name="txtClave2" id="clave2" maxlength="45" onblur="removeClass(this)" ; placeholder="Repetir contraseña" required>
            </div>

            <div class="text-center" id="button-group">
                <button class="btn btn-primary" type="submit" id="btn-guardar">Guardar</button>
                <button type="reset" class="btn btn-warning" id="btn-reset">Resetear</button>
                <a class="btn btn-danger" href="@Url.Action("index", "Home")">Cancelar</a>
            </div>

        </div>
    }

    <script type="text/javascript">

        /*Importante: checkadminData() la llamo desde el form*/
        function checkAdminData() {

            if (validarCamposInput()) {

                if (!validateEmail()) {

                    alert("El Email es invalido!");
                    $("#txtEmail").addClass('bordeRojoValidacion');


                    return false;
                }

                else if (!EqualPasswords()) {

                    alert("Las contraseñas deben ser iguales!");
                    return false;
                }

                else {

                    document.formAdmin.submit();//pulsa el submit y manda los datos del form

                }

            }
            else {

                alert("Hay campos vacios!");
                return false;
            }


        }

        function validateEmail() {

            if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(formAdmin.txtEmail.value)) {
                return false;
            }
            else
                return true;
        }


        function EqualPasswords() {

            let clave1 = $('#clave1').val();
            let clave2 = $('#clave2').val();

            if (clave1 != clave2) {

                addClassToClaves()
                return false;
            }
            else
                return true;

        }

        function validarCamposInput() {

            var inputVacio = false;
            $(".form-group > input").each(function () {
                if (this.value == "") {

                    $("#" + this.id).addClass('bordeRojoValidacion');
                    inputVacio = true;
                    //importante! la clase bordeRojoValidacion esta declarada en _UsserLayout
                }
            });

            if (inputVacio == true)
                return false;
            else
                return true;
        }

        //funcion que quita el marcado rojo sobre el input cuando no esta vacio
        function removeClass(caracter) {

            if (caracter != "") {
                $("#" + caracter.id).removeClass('bordeRojoValidacion');
                //$(caracter.id).removeClass('bordeRojoValidacion');
            }
        }

        function addClassToClaves() {

            $('#clave1').addClass('bordeRojoValidacion');
            $('#clave2').addClass('bordeRojoValidacion');
        }

    </script>
</body>
</html>
