@model List<Librery_MVC.Models.Usser>
@using Librery_MVC.Models;

@{
    Layout = null;
    TempData.Keep("adminEmail");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filtrar Cliente</title>
</head>
<body>

    @if (ViewBag.Msg != null)
    {
        <h4 style="color: red">@ViewBag.Msg</h4>
    }

    @if (Model.Count == 0)
    {
        <span style="color: red">No se encontraron resultados.</span>
    }
    else
    {
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Domicilio</th>
                </tr>
            </thead>

            <tbody>

                @foreach (Usser item in Model)
                {
                    <tr>
                        @*<th>@Html.ActionLink("Movimientos", "MovimientosCliente", "Home", new { userName = item.UsserName }, new { @class = "btn btn-info" })</th>*@
                        <th>@Html.ActionLink("Ventas", "VentasPorCliente", "Home", new { userName = item.UsserName }, new { @class = "btn btn-info" })</th>
                        <th>@item.UsserName</th>
                        <th>@item.Surname</th>
                        <th>@item.Name</th>
                        <th>@item.Email</th>
                        <th>@item.dateTime.ToShortDateString()</th>
                        <th>@item.Address</th>
                    </tr>
                }

            </tbody>
        </table>
    }

</body>
</html>
