@model List<Librery_MVC.Models.Venta>
@using Librery_MVC.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filtrar Venta</title>
</head>
<body>

    @if (ViewBag.Msg != null)
    {
        <span style="color: red">@ViewBag.Msg</span>
    }
    else
    {
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Id Venta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio total</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="6" style="color:red">
                            No se encontraron resultados
                        </td>
                    </tr>
                }
                else
                {
                    foreach (Venta item in Model)
                    {
                    <tr>

                        <td><a class = "btn btn-default" href="@Url.Action("DetalleVenta", "Home", new { idVenta = item.IdVenta, userName = item.NombreUsuario })">Detalle</a></td>                 
                        <td scope="row">@item.IdVenta</td>
                        <td>@item.Fecha.ToShortDateString()</td>
                        <td>@item.PrecioTotal</td>

                    </tr>
                    }

                }

            </tbody>

        </table>


    }

</body>
</html>
