
@{
    Layout = null;
    TempData.Keep("adminEmail");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*---------------enlazo misEstilos.css---------------------------*@
    @Styles.Render("~/Content/misEstilosAdmin.css")
    @*---------------------------------------------------------------*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="fondo-Admin">

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-indexAdmin">

        <div class="container">

            <div class="navbar-header" id="navbar-header">
                <span class="navbar-brand">Modo administrador</span>
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("crearAdmin", "Home")">Registrarse</a></li>
                    <li><a href="@Url.Action("index", "Usser")"><span class="glyphicon glyphicon-globe" id="glyphicon-globe" aria-hidden="true"></span>Sitio cliente</a></li></li>
                </ul>
            </div>

        </div>
    </div>

    <h5 class="text-center" style="color: red">@ViewBag.Msg</h5>

    @using (Html.BeginForm("index", "Home", FormMethod.Post))
    {
        <div class="well" id="caja">

            <div id="cont-img">
                <img id="img-logo" src="~/principal/imagenes/bookLogo.png" alt="logo">
            </div>

            <h3>INICIAR SESIÓN</h3>

            <div id="form-login">

                <div id="cont-inputs">
                    <input type="text" id="adminEmail" name="adminEmail" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>

                @*<div id="wash">
                        ¿Olvidaste tu contraseña?
                    </div>*@

                <div id="cont-btns">
                    <button type="submit" id="btn-entrar">ENTRAR</button>
                    <button type="button" onclick="callCrearAdminView()" id="btn-registrar">Registrarse</button>
                </div>

            </div>

        </div>
    }

    <div class="footerAdmin">
        <center><p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p></center>
    </div>

    <script type="text/javascript">

    function callCrearAdminView() {

        var uri = '@Url.Action("crearAdmin", "Home")';

        $.ajax({
             url: uri,
             //data: { dataId: idArray, dataQuantity: quantityArray, usuario:user, precioTotal:finalPrice },
             type: 'POST',
             success: function (respuestaDelServidor) {
                  $("#div-view").html(respuestaDelServidor);
             }
        });

    }

    </script>

    @Scripts.Render("~/bundles/jquery")
</body>
</html>
