
@{
    ViewBag.Title = "MovimientosCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime actualDate = DateTime.Today;
    int actualYear = actualDate.Year;

    TempData.Keep("adminEmail");
}

<h4 style="margin-top: 25px !important;">Movimientos del cliente: @ViewBag.userName</h4>

<div class="DivFilterSale">

    <div class="row">

        <div class="col-md-4">

            <input type="radio" name="option" id="nro-sale" value="nro-sale" checked /> Buscar por id venta

            <br />

            <input type="radio" name="option" id="allPurchases" value="allPurchases" /> Ver todas las ventas

            <br />
         
            <input type="radio" name="option" id="date" value="date" /> Buscar ventas por fecha

        </div>

        <div class="form-group col-md-4">

            <input type="text" class="form-control" id="txtSearch" name="txtSearch" maxlength="80" required placeholder="id venta" />

            <select class="form-control select" id="month1" disabled>
                <option disabled selected>desde el mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <select class="form-control select" id="month2" disabled>
                <option disabled selected>hasta el mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <select class="form-control select" id="year" disabled>

                <option disabled selected>Año</option>

                @for (int i = 2015; i <= actualYear; i++)
                {
                    <option value="@i">@i</option>
                }

            </select>

        </div>

        <div class="form-group col-md-4">
            <button type="button" class="btn btn-default" onclick="SendToActionFiltrarVenta();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
        </div>

    </div>


</div>



<div id="ajaxResponseFilterSalesClient">

    @*div donde ajax devuelve la respuesta al filtrado de las ventas*@

</div>

<br />

<script type="text/javascript">

    /*Selector de clases para alcanzar todos los select*/
    var allSelects = document.querySelectorAll(".select");
    /*Selector de tipo para alcanzar todos los radio*/
    var allRadios = document.querySelectorAll("input[type=radio]");

    /*Asignamos dentro del bucle un click listener a cada radio*/
    allRadios.forEach(function (oneRadio) {

        oneRadio.addEventListener('click', function (e) {
            //capturo el id del radio button activado
            let idRadio = e.target.id;
            /*Verifico si el radio button id="date" esta activado*/
            isEnabled = !(e.target.id === 'date');//devuelve false si esta activado

            /*Cambiamos el estado de los select segun el estado de isEnabled*/
            allSelects.forEach(function (oneSelect) {
                /*si isEnabled es "false" todos los select se van a deshabilitar*/
                oneSelect.disabled = isEnabled;

                if (idRadio == 'allPurchases') {
                    $('#txtSearch').val('');//clean
                    //deshabilitamos el input txtSearch
                    $('#txtSearch').attr('disabled', 'disabled');
                    //////////////////
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }
                else if (idRadio == 'nro-sale') {

                    $('#txtSearch').removeAttr('disabled');
                    ////////////////
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }
                   
                else {
                    $('#txtSearch').val('');//clean
                    //deshabilitamos el input txtSearch
                    $('#txtSearch').attr('disabled', 'disabled');
                    ////////////////
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }

            });
        });
    });

    function SendToActionFiltrarVenta() {

        let userName = @Html.Raw(Json.Encode(ViewBag.userName));
        let option = $("input:radio[name='option']:checked").val();
        let idSale = $('#txtSearch').val();
        let month1 = $('#month1').val();
        let month2 = $('#month2').val();
        let year = $('#year').val();     

        if (option == "nro-sale") {

            if (idSale == null || idSale == "") {

                alert("Complete el nombre de usuario");
                return false;
            }

        }

        if (option == "date") {

            if (month1 == null || month2 == null || year == null) {

                alert("Elija el rango de meses y el año");
                return false;
             }

        }

        var uri = '@Url.Action("FiltrarVenta", "Home")';

        $.ajax({
            url: uri,
            data: { option: option, idSale: idSale, userName: userName, month1: month1, month2: month2, year: year },
            type: 'POST',
            success: function (respuestaDelServidor) {
                $("#ajaxResponseFilterSalesClient").html(respuestaDelServidor);
            }
        });    
                                       
    }

</script>

