
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime actualDate = DateTime.Today;
    int actualYear = actualDate.Year;

    TempData.Keep("adminEmail");
}

@Html.Partial("_AjaxLoaderPartial")

<h2 class="text-center">Sección ventas</h2>

<div id="cont-option-sales">

    <div class="row">

        <div class="col-md-4 optionSale">

            <input type="radio" name="option" id="ranking" value="ranking" checked /> Ranking de ventas
            <br />
            <input type="radio" name="option" id="dateAndClient" value="dateAndClient" /> Mostrar ventas por fecha y cliente
            <br />
            <input type="radio" name="option" id="allSales" value="allSales" /> Mostrar todas las ventas

        </div>

        <div class="col-md-4 optionSale">

            <input type="text" disabled class="form-control" id="userName" name="userName" maxlength="80" required placeholder="Usuario" />

            <select class="form-control select" id="month1" disabled>
                <option disabled selected>desde el mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <select class="form-control select" id="month2" disabled>
                <option disabled selected>hasta el mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <select class="form-control select" id="year" disabled>

                <option disabled selected>Año</option>

                @for (int i = 2015; i <= actualYear; i++)
                {
                    <option value="@i">@i</option>
                }

            </select>

        </div>

        <div class="form-group col-md-4 optionSale" style="margin-top: 10px !important">
            <button type="button" class="btn btn-default" onclick="SendToAction();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
        </div>

    </div>
    
</div>

<div style="margin-top: 25px !important" id="ajaxSalesResponse">

    <div class="table-responsive" id="ajaxResponse">
        @*Muestro respuesta de ajax en el filtrado*@
    </div>

</div>

<script type="text/javascript">

    /*Selector de clases para alcanzar todos los select*/
    var allSelects = document.querySelectorAll(".select");
    /*Selector de tipo para alcanzar todos los radio*/
    var allRadios = document.querySelectorAll("input[type=radio]");

    /*Asignamos dentro del bucle un click listener a cada radio*/
    allRadios.forEach(function (oneRadio) {

        oneRadio.addEventListener('click', function (e) {
            //capturo el id del radio button activado
            let idRadio = e.target.id;
            /*Verifico si el radio button id="date" esta activado*/
            isEnabled = !(e.target.id === 'dateAndClient');//devuelve false si esta activado

            /*Cambiamos el estado de los select segun el estado de isEnabled*/
            allSelects.forEach(function (oneSelect) {
                /*si isEnabled es "false" todos los select se van a deshabilitar*/
                oneSelect.disabled = isEnabled;

                if (idRadio == 'ranking') {
                    $('#userName').val('');//clean
                    //deshabilitamos el input userName
                    $('#userName').attr('disabled', 'disabled');
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }
                else if (idRadio == 'dateAndClient') {

                    $('#userName').removeAttr('disabled');
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }

                else {
                    $('#userName').val('');//clean
                    //deshabilitamos el input userName
                    $('#userName').attr('disabled', 'disabled');
                    $('#month1').val('desde el mes');
                    $('#month2').val('hasta el mes');
                    $('#year').val('Año');
                }

            });
        });
    });

    function configureLoadingScreen(screen) {
        $(document)
            .ajaxStart(function () {
                screen.fadeIn();
            })
            .ajaxStop(function () {
                screen.fadeOut();
            });
    }

    function SendToAction() {

        /***********Loader para la consulat de AJAX********************** */
        //.loading-screen la clase del div que esta en la vista partial _AjaxLoaderPartial (carpeta shred)
        var screen = $('.loading-screen');
        configureLoadingScreen(screen);
        /***************************************************** */

        let option = $("input:radio[name='option']:checked").val();
        let userName = $('#userName').val();
        let month1 = $('#month1').val();
        let month2 = $('#month2').val();
        let year = $('#year').val();    
        let uri = "";
        
        if (option == "ranking") {

            uri = '@Url.Action("RankingVentas", "Home")';
            $.ajax({
            url: uri,
            //data: { option: option, idSale: idSale, userName: userName, month1: month1, month2: month2, year: year },
            type: 'POST',
            success: function (respuestaDelServidor) {
                $("#ajaxResponse").html(respuestaDelServidor);
            }
        });

        }

        //if (option == "dateAndClient") {

        //    if (userName == null || userName == "" || month1 == null || month2 == null || year == null) {

        //        alert("Escriba el nombre de usuario y fecha");
        //        return false;
        //    }
        //    else {
        //        peticion ajax
        //    }
            
        //}

        

        if (option == "allSales") {

            uri = '@Url.Action("getSales", "Home")';

            $.ajax({
                url: uri,
                data: { option: option, month1: month1, month2: month2, year: year },
                type: 'POST',
                success: function (respuestaDelServidor) {
                    $("#ajaxResponse").html(respuestaDelServidor);
                }
            });

        }

    }

</script>

